@charset "UTF-8";

body.wp-admin{
  background-color: #F2F2F2;
}

.custom_widget{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.custom_widget li{
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: #A2C2C4;
  border-radius: 30px;
}

.custom_widget li p{
  font-weight: bold;
}

#dashboard-widgets .dashicons{
  width: auto;
  font-size: 50px;
  transition: transform 0.6s ease-in-out;
}

.custom_widget a{
  text-decoration: none;
}

.custom_widget a:hover .dashicons{
  transform:rotateY(180deg);
}

#dashboard-widgets a:focus{
  box-shadow: none;
}

.post-name , .link-ttl{
  margin-top: 40px;
}

#dashboard-widgets .setting_widget .dashicons-admin-generic{
  font-size: 20px;
  margin-right: 8px;
}

.setting_widget a{
  font-weight: bold;
}
