@use 'global' as *;

.page-footer {
   margin-top: rem(104);
   @include mq(md) {
    margin-top: rem(164);
   }
}

.page-footer--contactform {
   margin-top: rem(150);
   @include mq(md) {
      margin-top: rem(170);
   }
}

.page-footer--contact-thanks {
   margin-top: rem(166.4);
   @include mq(md) {
    margin-top: rem(116.8);
   }
}

.page-footer--pricacy {
   margin-top: rem(104);
   @include mq(md) {
    margin-top: rem(156);
   }
}

.page-footer--sitemap {
   margin-top: rem(104);
   @include mq(md) {
    margin-top: rem(160);
   }
}
.page-footer--not-found {
   margin-top: rem(-0.6);
   @include mq(md) {
    margin-top: rem(-0.6);
   }
}
