@use 'global' as *;

.page-contact {
    margin-top: rem(82);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--archive-voice {
    margin-top: rem(105.6);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--aboutus,
.page-contact--information,
.page-contact--price,
.page-contact--faq {
    margin-top: rem(104);
    @include mq(md) {
        margin-top: rem(138);
    }
}

