@use 'global' as *;

.page-contact {
    margin-top: rem(82);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--archive-voice {
    margin-top: rem(106);
    @include mq(md) {
        margin-top: rem(138);
    }
}