@use 'global' as *;

.page-contact {
    margin-top: rem(104);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--sp-short {
    margin-top: rem(82);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--archive-voice {
    margin-top: rem(105.6);
    @include mq(md) {
        margin-top: rem(138);
    }
}

.page-contact--blog {
    margin-top: rem(112);
    @include mq(md) {
        margin-top: rem(144);
    }
}

.page-contact--home {
    margin-top: rem(112);
    @include mq(md) {
        margin-top: rem(140);
    }
}

.page-contact--privacy {
    margin-top: rem(112);
    @include mq(md) {
        margin-top: rem(140);
    }
}

.page-contact--sitemap {
    margin-top: rem(100);
    @include mq(md) {
        margin-top: rem(138);
    }
}

