@use 'global' as *;

/*=================================================================
      【管理画面】SCFカスタムフィールドカスタマイズ
==================================================================*/
/* SCFフィールド[ラベル] */
.smart-cf-meta-box-table th{
  font-weight: bold;
  color:#796A64;
}

/* SCFフィールド[手順]文 */
.smart-cf-meta-box-table td .instruction{
  color: red;
}

/* 追加ボタンのカスタマイズ*/
.smart-cf-meta-box-table .dashicons-plus-alt:before {
  color:#408F95;
}

/* SCF繰り返し追加ボタン説明 */
.smart-cf-meta-box-table .dashicons-plus-alt::after{
  content: "追加";
  margin-left: rem(5);
  font-size: rem(10);
  color: #408F95;
  vertical-align: super;
}

/* 削除ボタンのカスタマイズ*/
.smart-cf-meta-box-table .dashicons-dismiss:before {
  color: #C94800;
}

/* SCF繰り返し削除ボタン説明 */
.smart-cf-meta-box-table .dashicons-dismiss::after{
  content: "削除";
  margin-left: rem(5);
  font-size: rem(10);
  color:  #C94800;
  vertical-align: super;
}

.smart-cf-meta-box-table {
  border:rem(1);
}

