@use 'global' as *;

.about-us {
    @include mq(md) {
        position: relative;
    }
}

.about-us::before {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: 1;
        background-image: url(../images/common/about-iso.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(194);
        height: rem(181);
        bottom:rem(-88);
        right:max(calc(50% - #{rem(637)}), rem((strip-unit($padding-pc))));
    }
}

.about-us__contents {
    margin-top: rem(28);
    @include mq(md) {
        margin-top: rem(41.6);
    }
}
