@use 'global' as *;

.archive-blog-selected {
    display: flex;
    flex-direction: column;
    gap:rem(24);
    @include mq(md) {
        gap:rem(39.2);
    }
}

.archive-blog-selected__head {

}

.archive-blog-selected__date {
    font-family: $gotu-font-family;
    font-size: rem(14);
    line-height: calc(18 / 14);
}

.archive-blog-selected__card-title {
    margin-top: rem(9.6);
    font-size: rem(24);
    line-height: calc(29 / 24);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid $c-accent;
    @include mq(md) {
        margin-top: rem(8);
        font-size: rem(32);
    }
}

.archive-blog-selected__img {
    position: relative;
}

.archive-blog-selected__img::before {
    content:"";
    display: block;
    padding-top: 66.9565%;
    @include mq(md) {
     padding-top: 66.85714%;
    }
}

.archive-blog-selected__img img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.archive-blog-selected__text {
   
}

.archive-blog-selected__lists {
    padding-left: rem(27.2);
}

.archive-blog-selected__list {
    position: relative;
    line-height: 1.7;
}

.archive-blog-selected__list::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/blog-hitode.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: 0;
    left:rem(-22);
}

.archive-blog-selected__pagination {
    margin-top: rem(14.4);
    @include mq(md) {
        margin-top: rem(40);
    }
}