@use 'global' as *;

.archive-blog-sub {
    display: flex;
    flex-direction: column;
    gap:rem(80);
}

.archive-blog-sub__popular-news {

}

.archive-blog-sub__voice {
    margin-top: rem(-1.6);
    @include mq(md) {
        margin-top: 0;
    }
}

.archive-blog-sub__campaign {
    margin-top: rem(3.2);
    @include mq(md) {
        margin-top: 0;
    }
}

.archive-blog-sub__archive-news {
    margin-top: rem(3.2);
    @include mq(md) {
        margin-top: 0;
    }
}