@use 'global' as *;

.archive-blog {

}

.archive-blog__inner {
    display: flex;
    flex-direction: column;
    gap:rem(80);
    @include mq(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.archive-blog__inner--archive {
    gap:rem(86);
}

.archive-blog__selected {
    width: 100%;
    @include mq(md) {
        width: 65.09259%;
        max-width: rem(700);
    }
}

.archive-blog__main-contents {
    width: 100%;
    @include mq(md) {
        width: 65.37037%;
        max-width: rem(706);
    }
}

.archive-blog__sub-contents {
    width: 100%;
    max-width: rem(294);
    margin-left: auto;
    margin-right: auto;
}

.archive-blog__cards {

}

.archive-blog__pagination {
    margin-top: rem(80);
}