@use 'global' as *;

.archive-blog-selected {
    display: flex;
    flex-direction: column;
    gap:rem(24);
    @include mq(md) {
        gap:rem(39.2);
    }
}

.archive-blog-selected__head {

}

.archive-blog-selected__date {
    font-family: $gotu-font-family;
    font-size: rem(14);
    line-height: calc(18 / 14);
}

.archive-blog-selected__card-title {
    margin-top: rem(9.6);
    font-size: rem(24);
    line-height: calc(29 / 24);
    border-bottom: rem(1) solid $c-accent;
    @include mq(md) {
        margin-top: rem(8);
        font-size: rem(32);
    }
}

.archive-blog-selected__thumbnail img {
    width: 100%;
    height: auto; /* 縦横比を維持して縮尺に応じて高さも変化 */
   
}

.archive-blog-selected__container {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    @include mq(md) {
        gap:rem(40);
    }
}

.archive-blog-selected__container div img{
    width: 100%;
}

.archive-blog-selected__container p {
   
}

.archive-blog-selected__container ul {
    padding-left: rem(27.2);
}

.archive-blog-selected__container ul li {
    position: relative;
    line-height: 1.7;
}

.archive-blog-selected__container ul li::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/blog-hitode.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: rem(5);
    left:rem(-22);
}

.archive-blog-selected__pagination {
    margin-top: rem(14.4);
    @include mq(md) {
        margin-top: rem(40);
    }
}