@use 'global' as *;

.archive-blog-sub {
    display: flex;
    flex-direction: column;
    gap:rem(80);
}

.archive-blog-sub__popular-news {

}

.archive-blog-sub__voice {

}

.archive-blog-sub__campaign {
    
}

.archive-blog-sub__archive-news {
    
}