@use 'global' as *;

.blog {
    @include mq(md) {
        position: relative;
        padding-top: rem(100);
    }
}

.blog::before {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: -1;
        background-image: url(../images/common/blog-fish-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(437);
        height: rem(201);
        top:rem(24);
        left:max(calc(50% - #{rem(620)}), rem((strip-unit($padding-pc))));
    }
}

.blog::after {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: -2;
        height: rem(500);
        top:0;
        left:0;
        right: 0;
        background-image: url(../images/common/blog-bk-pc.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}

.blog__cards {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(76.8);
    }
}

.blog__button {
    margin-top: rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}