@use 'global' as *;

.blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap:rem(36);
    @include mq(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.blog-cards--archive {
    gap:rem(38.4);
    @include mq(md) {
        grid-template-columns: 1fr 1fr;
        gap:rem(83.2) rem(40);
    }
}

.blog-cards__card {

}