@use 'global' as *;

.blog-sub-voice {

}

.blog-sub-voice__title {

}

.blog-sub-voice__voice-card {
    margin-top: rem(24);
}

.blog-sub-voice__button {
    margin-top: rem(48);
    text-align: center;
    @include mq(md) {
      margin-top: rem(54.4);
    }
}

.blog-sub-voice__button--sub-archive {
    @include mq(md) {
        margin-top: rem(48);
    }
}