@use 'global' as *;

.blog-sub-voice {

}

.blog-sub-voice__title {

}

.blog-sub-voice__voice-card {
    margin-top: rem(24);
}

.blog-sub-voice__button {
    margin-top: rem(40);
    text-align: center;
}