@use 'global' as *;

.breadcrumb__inner {
	font-size: rem(14);
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.breadcrumb__inner span:first-of-type
 {
	margin-right: rem(3);
}

.breadcrumb__inner span:nth-of-type(n+2)
 {
	margin-left: rem(6);
}
