@use 'global' as *;

.business-types {
    display: flex;
    gap:rem(16) rem(21);
    flex-wrap: wrap;
    @include mq(md) {
        gap:rem(16) rem(32);
    }
}

.business-types__type {
    display: inline-block;
    background-color: $white;
    color:$c-accent;
    font-size: rem(14);
    border: 1px solid $c-accent;
    width: rem(162);
    height: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-types__type--active {
    color:$white;
    background-color: $c-accent;
}