@use 'global' as *;

.campaign__inner {
   
}

.campaign__contents {
    margin-top: rem(28.8);
    width: 100%;
    padding-left: rem(17);
    @include mq(md) {
        margin-top: rem(40);
        margin-left: auto;
        margin-right: 0;
        max-width: calc(50vw + #{rem(strip-unit($inner))}  * 0.5 + #{rem(strip-unit($padding-pc))});
        padding-left: $padding-pc;
        position: relative;
    }
}

.campaign__item {
    max-width: rem(280);
    width: 100%;
    @include mq(md) {
        max-width: rem(333);
    }
}

.campaign__button {
    margin-top: rem(33.6);
    text-align: center;
    @include mq(md) {
        margin-top: rem(73.6);
    }
}
