@use 'global' as *;

.contact {
    position: relative;
}

.contact::before {
    content:"";
    position: absolute;
    z-index: -1;
    background-image: url(../images/common/contact-fish-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(109);
    height: rem(50);
    top:rem(-26);
    right:calc(50% - #{rem(170)});
    @include mq(md) {
        width: rem(309);
        height: rem(146);
        right: rem(48);
        top:rem(-40);
    }
}

.contact__contents {
    @include mq(md) {
        display: flex;
        border:rem(1) solid $black;
        box-shadow: rem(4) rem(4) rem(10) rgba(0,0,0,0.25);
        padding-top: rem(80);
        padding-bottom: rem(64);
        padding-left: calc(50 / strip-unit($inner) * 100%);
        padding-right: calc(112 / strip-unit($inner) * 100%);
    }
}

.contact__location {
    padding-left: rem(25);
    padding-right: rem(25);
    @include mq(md) {
        padding-left: 0;
        padding-right: 0;
        flex:0 0 rem(440);
    }
}

.contact__line {
    @include mq(md) {
        flex:0 1 rem(163);
    }
}

.contact__link {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(20);
        flex:0 0 rem(315);
    }
}

.contact__back-to-top {
    margin-top: rem(40);
    margin-left: auto;
    margin-right: rem(15);
    margin-bottom: rem(16);
    display: block;
    width: rem(48);
    height: rem(48);
    
    @include mq(md) {
        margin-top: rem(60);
        margin-right: rem(20);
        width: rem(88);
        height: rem(88);
        margin-bottom: rem(14.4);
    }
}

.contact__back-to-top img {
    width: 100%;
}