@use 'global' as *;

.contact-form {

}

.contact-form__inner.inner {
    @include mq(md) {
        max-width: rem(700 + strip-unit($padding-pc) * 2);;
    }

}

.contact-form__error {
    display: none;
    font-size: rem(14);
    line-height: calc(17 / 14);
    color:$c-red;
    padding-bottom: rem(44.8);
    @include mq(md) {
        padding-bottom: rem(43.2);
    }
}

.contact-form__error.is-error{
    display: flex;
    justify-content: center;
}

.contact-form__fields {
   
}
