@use 'global' as *;

.contact-line {
    @include mq(md) {
        position: relative;
    }
}

.contact-line::before {
    @include mq(md) {
        content:"";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: rem(1);
        height: 100%;
        background-color: $c-accent;
    }
}