@use 'global' as *;

.contact-link {
    text-align: center;
}

.contact-link__title {

}

.contact-link__link {
    margin-top: rem(4);
}

.contact-link__link a{
    color:$c-accent;
    font-size: rem(14);
    line-height: calc(18 /14);
}

.contact-link__button {
    margin-top: rem(41.6);
    @include mq(md) {
        margin-top: rem(41.6);
    }
}

.contact-link__button--privacy {
    margin-top: rem(41.6);
    @include mq(md) {
        margin-top: rem(33.6);
    }
}

.contact-link__button--sitemap {
    margin-top: rem(41.6);
    @include mq(md) {
        margin-top: rem(36.8);
    }
}

.contact-link__button--price {
    margin-top: rem(38.4);
    @include mq(md) {
        margin-top: rem(36.8);
    }
}
