@use 'global' as *;

.faq-lists {
    display: flex;
    flex-direction: column;
    gap:rem(39.2);
    @include mq(md) {
        gap:rem(39.2);
    }
}

.faq-lists__list {
    width: 100%;
    @include mq(md) {
        margin-left: auto;
        margin-right: auto;
    }
}