@use 'global' as *;

.footer {
    background-color: $c-accent;
    padding: rem(48) 0 rem(56);
    color:$white;
    @include mq(md) {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__header {
    @include mq(md) {
        display: flex;
        gap:rem(44);
    }
}

.footer__title {
    width: rem(120);
    height: rem(45);
    @include mq(md) {
        width: rem(200);
        height: rem(75);
    }
}

.footer__logo {
    width: 100%;
}

.footer__snss {
    margin-top: rem(17.6);
    display: flex;
    gap:rem(19.2);
    align-items: center;
    @include mq(md) {
        margin-top: rem(28);
        gap:rem(24);
    }
}

.footer__sns1 {
    width: rem(22);
    height: rem(22);
    @include mq(md) {
        width: rem(26);
        height: rem(26);
    }
}

.footer__sns2 {
    width: rem(20);
    height: rem(20);
    @include mq(md) {
        width: rem(26);
        height: rem(26);
    }
}

.footer__nav {
    margin-top: rem(36);
    @include mq(md) {
        margin-top: rem(20.8);
    }
}


.footer__copyright {
    margin-top: rem(36);
    font-size: rem(12);
    line-height: 1.5;
    font-family: $gotu-font-family;
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
        font-size: rem(14);
        line-height: calc(18 / 14);
    }
}