@use 'global' as *;

.footer-nav {
    background-color: $c-accent;
}

.footer-nav__items {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
        gap:calc(100% -#{rem(648)})/3;
        padding-right: rem(54);
        padding-left: rem(18);
    }
}

.footer-nav__items-rows4:first-child {
    width: rem(166);
}

.footer-nav__items-rows4:nth-child(2),
.footer-nav__items-rows4:nth-child(3)
 {
    width: rem(150);
}
.footer-nav__items-rows4:nth-child(4) {
    width: rem(182);
}

.footer-nav__items-rows4:nth-child(n+2){
    margin-top: rem(36);
    @include mq(md) {
        margin-top: 0;
    }
}

.footer-nav__item:nth-child(n+2){
    margin-top: rem(34.6);
    @include mq(md) {
        margin-top: rem(34.6);
    }
}

.footer-nav__item-link {
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18/16);
    position: relative;
}

.footer-nav__item-link::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/footer-hitode.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: 0;
    left:rem(-22);
}

.footer-nav__sub-items {
    margin-top: rem(20);
    margin-left: rem(4);
    @include mq(md) {
        margin-left: 0;
    }
}

.footer-nav__sub-item {
    font-size: rem(16);
    font-weight: $normal;
    line-height: calc(18/16);
}

.footer-nav__sub-item:nth-child(n+2) {
    margin-top: rem(24);
}
