@use 'global' as *;

.form-select {
    appearance: none;
    font-size: rem(12);
    width: 100%;
    border: rem(1) solid $c-accent;
	padding: rem(9.6) 0 rem(11.2) rem(8);
    background-image: url(../images/common/icon-polygon.svg);
    background-position: top rem(11.2) right rem(8);
    background-repeat: no-repeat;
    @include mq(md) {
        padding: rem(5.3) 0 rem(5.3) rem(8);
    }
}
