@use 'global' as *;

/*チェックボックスの指定*/
$check-fz: rem(16);//フォントサイズ
$check-size: rem(14);//外枠の幅高さ
$check-bg-cr: #fff;//外枠の背景色
$check-border-cr: #408F95;//外枠の色
$check-bg-cr-inner: #C94800;//チェックマークの背景色
$check-space: rem(2);//チェックマークと文字の距離
$check-space-betweenRadio: rem(20);//ラジオボタンの間の距離
$check-weight: rem(2);//チェックマークの線の太さ(px)


.form-checkbox label{
    line-height: calc(19 / 16);
}

.form-checkbox label + label {
    margin-top: rem(8);
}

.form-checkbox input[type="checkbox"] {
    display: none;
}

.form-checkbox span {
    display: inline-block;
    position: relative;
    font-size: $check-fz;
    padding-left: rem(24);
    transition: 0.3s ease;
}

.form-checkbox span::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $check-bg-cr;
    border: 1px solid $check-border-cr;
    width: $check-size;
    height: $check-size;
    display: block;
}


.form-checkbox input[type="checkbox"] + span::after {
    opacity: 0;
	transition: 0.3s ease;
}

.form-checkbox input[type="checkbox"]:checked + span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    opacity: 1;
    /*チェックマークじゃない場合は以下を変更する*/
    transform: translateY(-50%) rotate(-45deg);
    width: calc($check-size * 0.9);
    height: calc($check-size * 0.5);
    margin-top: -0.1em;
    margin-left: 0.1em;
    border-left: $check-weight solid $check-bg-cr-inner;
    border-bottom: $check-weight solid $check-bg-cr-inner;
}

.form-checkbox--personal-info span {
    padding-left: rem(28);
    @include mq(md) {
        padding-left: rem(40);
    }
}

.form-checkbox--personal-info span::before {
    top:0;
    transform: initial;
    width: rem(22);
    height: rem(22);
}

.form-checkbox--personal-info input[type="checkbox"]:checked + span::after {
    top:rem(4);
    transform: rotate(-45deg);
    width: rem(22 * 0.9);
    height: rem(22 * 0.5);
}