@use 'global' as *;

.form-field {

}

.form-field__item {
    padding-bottom: rem(24);
    border-bottom: rem(1) dotted $c-accent;
    @include mq(md) {
        display: flex;
        padding-bottom: rem(40);
    }
}

.form-field__item:nth-of-type(2),
.form-field__item:nth-of-type(3),
.form-field__item:nth-of-type(6) 
{
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.form-field__item:nth-of-type(4) {
    margin-top: rem(25.6);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.form-field__item:nth-of-type(5) {
    margin-top: rem(27.2);
    @include mq(md) {
        margin-top: rem(40);
    }
}


.form-field__item dt{
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(19 / 16);
    @include mq(md) {
        width: calc(220 / 700 * 100%);
    }
}

.form-field__item dt span {
    display: inline-block;
    margin-left: rem(8);
    color:$white;
    background-color: $c-red;
    letter-spacing: 0.25em;
    text-indent: 0.25em;
    font-size: rem(12);
    line-height: 1;
    padding: rem(3.2) rem(14) rem(3.2);
}

.form-field__item dd {
    margin-top: rem(18.4);
    @include mq(md) {
        width: calc(480 / 700 * 100%);
        margin-top: 0;
    }
}

.form-field__item--select dd {
    margin-top: rem(-12);
    @include mq(md) {
        margin-top: rem(-32);
    }
}

.form-field__item--textarea {
    padding-bottom: rem(24);
    @include mq(md) {
        padding-bottom: rem(32);
    }
}

.form-field__item dd input,
.form-field__item dd textarea
{
    width: 100%;
    border:rem(1) solid $c-accent;
    line-height: calc( 21.2 / 16);
    padding: rem(8) 0 rem(9.6) rem(16);
}

.form-field__item dd input.wpcf7-not-valid,
.form-field__item dd textarea.wpcf7-not-valid {
    border: $c-red;
    background-color:rgba(201, 72, 0, 0.20);
}

.form-field__item dd textarea {
    height: rem(200);
}

.form-field__item dd input::placeholder {
    color:$c-grey2;
}

.form-field__checkbox label{
    display: block;
}


.form-field__select {
  
}

.form-field__personal-info {
    margin-top: rem(36.8);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}

.form-field__button {
    margin-top: rem(25.6);
    text-align: center;
    @include mq(md) {
        margin-top: rem(43.2);
    }
}
