@use 'global' as *;

.gallery {
    @include mq(md) {
        position: relative;
    }
}

.gallery::before {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: -1;
        background-image: url(../images/common/contact-fish-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(309);
        height: rem(146);
        right:max(calc(50% - #{rem(640)}), rem((strip-unit($padding-pc))));
        top:rem(-74.4);
    }
}


.gallery__inner {

}

.gallery__title {

}

.gallery__contents {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(84.8);
    }
}

.gallery__img-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap:rem(7.2);
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 0.163fr 1fr;
        grid-auto-flow: dense;
    }
}

.gallery__img {
    position: relative;
    cursor: pointer;
    @include mq(md) {
        grid-column: span 2;
        grid-row: span 1;
    }
}

.gallery__img:nth-of-type(6n + 1),
.gallery__img:nth-of-type(6n + 6) {
    @include mq(md) {
        grid-column: span 1;
        grid-row: span 2;
    }
}

.gallery__img img {
    aspect-ratio: 580 / 369;
}

.gallery__img:nth-of-type(6n + 1) img,
.gallery__img:nth-of-type(6n + 6) img
{
    aspect-ratio: 492 / 746;
}

.gallery__img img {
    object-fit: cover;
    width: 100%;
}


