@use 'global' as *;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 rem(12);
    list-style-type: none;
    padding: 0;
}

.pagination--home {
    gap: 0 rem(24);
    @include mq(md) {
        padding-right: rem(24);
    }
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(38);
    height: rem(38);
    border: rem(1) solid $c-accent;
    color: $c-accent;
    font-family: $lato-font-family;
    font-size: rem(16);
    font-weight: $bold;
    transition: all ease .3s;
}

.pagination a:not(:hover) {
    text-decoration: none;
}

.pagination__prev {
    margin-right: rem(28);
}

.pagination__next {
    margin-left: rem(28);
}

.pagination a:hover,
.pagination__prev a:hover,
.pagination__next a:hover {
    background-color: $c-accent;
    color: $white;
}

.pagination__current a {
    background-color: $c-accent;
    color: $white;
}

.pagination__current a:hover {
    background-color: $white;
    color: $c-accent;
}