@use 'global' as *;

.price {
    background-color: $c-grey2;
    padding: rem(80) 0;
    @include mq(md) {
        position: relative;
        padding-top: rem(96);
        padding-bottom: rem(104);
    }
}

.price::before {
    @include mq(md) {
        content:"";
        position: absolute;
        background-image: url(../images/common/price-fish-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(437);
        height: rem(201);
        bottom:rem(56);
        left:max(calc(50% - #{rem(620)}), rem((strip-unit($padding-pc))));
    }
}

.price__inner {

}

.price__title {
    @include mq(md) {
        margin-right: rem(5);
    }
}

.price__contents {
    margin-top: rem(29.6);
    display: flex;
    flex-direction: column-reverse;
    @include mq(md) {
        flex-direction: row;
        gap:calc(94 / 1080 * 100%);
        margin-top: rem(44);
    }
}

.price__items {
    margin-top: rem(40);
    @include mq(md) {
        flex:0 1 calc(492 / 1080 * 100%);
        margin-top: 0;
    }
}

.price__img-outer {
    width: 100%;
    position: relative;
    @include mq(md) {
        flex:0 1 calc(492 / 1080 * 100%);
    }
}

.price__img-outer::before {
    content:"";
    display: block;
    padding-top: 65.8%;
    @include mq(md) {
        padding-top: 151.62%;
    }
}

.price__img-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price__img-inner img{
    height: 100%;
}

.price__button {
    margin-top: rem(38);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}