@use 'global' as *;

.price {
    background-color: $c-grey2;
    padding: rem(80) 0;
    @include mq(md) {
        position: relative;
        padding-top: rem(104);
        padding-bottom: rem(104);
    }
}

.price::before {
    @include mq(md) {
        content:"";
        position: absolute;
        background-image: url(../images/common/price-fish-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(437);
        height: rem(201);
        bottom:rem(56);
        left:max(calc(50% - #{rem(620)}),rem(100));
    }
}

.price__inner {

}

.price__title {
    @include mq(md) {
        margin-right: rem(5);
    }
}

.price__contents {
    margin-top: rem(28);
    display: flex;
    flex-direction: column-reverse;
    @include mq(md) {
        flex-direction: row;
        gap:calc(93 / 1080 * 100%);
        margin-top: rem(40);
    }
}

.price__items {
    margin-top: rem(40);
    @include mq(md) {
        flex:0 1 rem(492);
        margin-top: 0;
    }
}

.price__item + .price__item{
    margin-top: rem(40);
}

.price__img-sp {
    aspect-ratio: 345 / 227;
    overflow:hidden;
}

// .price__img-sp img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.price__img-pc-outer {
    flex:0 1 rem(492);
    position: relative;
}

.price__img-pc-outer::before {
    content:"";
    display: block;
    padding-top: 151.62%;
}

.price__img-pc-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// アニメーションのため削除
// .price__img-sp-inner img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }


.price__button {
    margin-top: rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}