@use 'global' as *;

.price-item {

}

.price-item__title {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.5;
    border-bottom: 1px solid $c-accent;
    padding-bottom: rem(4);
}

.price-item__contents {
    
}

.price-item__list {
    margin-top: rem(8);
    display: flex;
    justify-content: space-between;
}

.price-item__term {
    font-size: rem(14);
    line-height: calc(24/14);
    @include mq(md) {
        font-size: rem(16);
        line-height: 1.5;
    }
}

.price-item__description {
    font-size: rem(14);
    line-height: calc(24/14);
    padding-left: rem(20);
    @include mq(md) {
        font-size: rem(16);
        line-height: 1.5;
    }
}