@use 'global' as *;

.grecaptcha-badge { 
    visibility: hidden; 
}

.recaptcha-text {
    font-size: rem(8);
    margin-top: rem(40);
  }
  .recaptcha-text p:last-child {
    margin-top: rem(16);
    color:$c-accent;
  }