@use 'global' as *;

.swiper-button-prev {
    position: absolute;
    width: rem(88);
    height: rem(88);
    transform: rotate(-90deg) scaleX(-1);
    top:rem(-84);
    left:calc(50vw + #{rem(144)});
}

.swiper-button-prev::after {
    content:"";
}

.swiper-button-next {
    position: absolute;
    width: rem(88);
    height: rem(88);
    transform: rotate(90deg);
    top:rem(-84);
    right:rem(178);
}

.swiper-button-next::after {
    content:"";
}