@use 'global' as *;

.terms {

}

.terms__inner.inner {
    @include mq(md) {
        max-width: rem(800 + 2 * strip-unit($padding-pc));
    }
}

.terms__title {
    @include mq(md) {
        font-size: rem(32);
    }
}

.terms__contents {

}

.terms__items {
    margin-top: rem(44);
    @include mq(md) {
        margin-top: rem(40);
    }
}

.terms__item:nth-of-type(2) {
    margin-top: rem(38);
    @include mq(md) {
        margin-top: rem(32);
    }
}

.terms__item:nth-of-type(3) {
    margin-top: rem(32);
    @include mq(md) {
        margin-top: rem(33.6);
    }
}


.terms__item:nth-of-type(4) {
    margin-top: rem(32);
    @include mq(md) {
        margin-top: rem(32);
    }
}

.terms__unordered-list {
    line-height: 2;
    @include mq(md) {
        line-height: 1.85;
    }
}

.terms__text {
    line-height: 1.8;
    @include mq(md) {
        line-height: 2;
    }
}

.terms__text--bottom {
    line-height: 2;
    @include mq(md) {
        line-height: 2;
    }
}

.terms__ordered-lists {
    counter-reset: list-counter; /* カウンターをリセット */
    line-height: 2;
    @include mq(md) {
        line-height: 2;
    }
}

.terms__ordered-lists--3 {
    counter-reset: list-counter 3; /* カウンターをリセット */
}

.terms__ordered-list {
    counter-increment: list-counter; /* 各リストアイテムでカウンターをインクリメント */
    padding-left: rem(24); /* 番号のスペースを確保 */
    position: relative;
    @include mq(md) {
        padding-left: rem(20);
    }
}

.terms__ordered-list::before {
    content: counter(list-counter) ". "; /* カウンターの値と「.」を表示 */
    position: absolute;
    left: rem(5);
    top: 0;
}
