@use 'global' as *;

.voice {
    @include mq(md) {
        position: relative;
    }
}

.voice::before {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: -1;
        background-image: url(../images/common/voice-fish-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(301);
        height: rem(138);
        top:rem(-112);
        left:rem(100);
        left:max(calc(50% - #{rem(620)}), calc(100 / 1440) * 100vw);
    }
}

.voice::after {
    @include mq(md) {
        content:"";
        position: absolute;
        z-index: -1;
        background-image: url(../images/common/voice-tatsu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(71);
        height: rem(162);
        bottom:rem(-68);
        right:max(calc(50% - #{rem(540)}),calc(180 / 1440) * 100vw);
    }
}

.voice__inner {

}

.voice__title {

}

.voice__cards {
    margin-top: rem(44);
    display: grid;
    grid-template-columns:1fr;
    gap:rem(36);
    @include mq(md) {
        grid-template-columns:1fr 1fr;
        margin-top: rem(32);
        gap:rem(40);
    }
}

.voice__card {
   
}

.voice__button {
    margin-top:rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}
